<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script defer src="js/client.js"></script>
    <link rel="stylesheet" type="text/css" href="css/chatbot-a.css">
    

</head>

<body>
    <h1>Client</h1>
<form id="msgForm" action="">
	<section class="chat-input-wrapper">
		<div class="normal-input">
			<button class="send-btn">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
<style type="text/css">.send-ico{fill:#FFFFFF;}</style><g><path class="send-ico" d="M45.2,19.4L7.4,0.5C4-1.2,0,1.3,0,5.1v16.8h25.1v4.2H0v16.8c0,3.8,4,6.3,7.4,4.6l37.7-18.9
		C48.9,26.7,48.9,21.3,45.2,19.4z"/></g></svg>
			</button>
			<textarea placeholder="Write a reply" row="1" class="normal-text-input" id="input" name="msg"></textarea>
		</div>
  </section>
  </form>

    <section class="bx chat-content-wrapper" id="msg-wrapper">
      <div class="bx chat-wrapper bot" id="messages">
        <div class="chat-bubble">
          <div class="pro-pic"><img src="images/bot-img.jpg" width="96" height="96"></div>
          <p>Hello, Good Morning<br>How can i help you today?</p>
          <span class="time">3:40PM</span>
        </div>
      </div>          
    </section>

</body>

</html>